.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 1.2rem;
  border-radius: 1rem;
  width: 23rem;
  height: 12rem;
  background-color: rgb(49, 73, 56);
}

.productCard:hover {
  background-color: rgb(67, 91, 74);
  transition: 0.7s;
}

.productCard__text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.productCard__buttons {
  display: inherit;
  justify-content: space-evenly;
  border-top: 0.11rem solid black;
  padding-top: 0.8rem;
}

.productCard__buttons__icon {
  cursor: pointer;
}
